.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sidebar{
    position: fixed;
    left: 0;
    height: 100vh;
    width: 15vw;
    padding: 16px;
}
.main{
    position: absolute;
    left: 15vw;
    width: 82vw;
    margin: 0;
}
.source_manage_display_body{
    /*display: flex;*/
    width: 100%;
    height: auto;
}
.source_unit{
    margin: 12px 0;
    display: flex;
    width: 100%;
    height: auto;
}
.source_unit span{
    /*border: black 1px solid;*/
    text-align: left;
    background-color: rgba(241, 241, 241, 0.51);
    margin: 0;
    border-radius: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.source_manage_display_head{
    margin: 12px 0;
    display: flex;
    width: 100%;
    height: auto;
    position: sticky ;
    top: 0;
}
.source_manage_display_head span{
    color: white;
}
.flex_item{
    background-color: #0d6efd;
    color: rgb(0, 0, 0);
    text-align: center;
}
.flex_item_1{
    flex: 1;
}
.flex_item_2{
    flex: 2;
}
.flex_item_4{
    flex: 4;
}
.flex_item_3{
    flex: 6;
}